<div class="contentContainer">

<section class="bookings">
    <h2>Bookings</h2>
    {{ status }}

    <table>
        <tr>
            <th>Booking ID</th>
            <th>Space</th>
            <th>Date</th>
            <th>From</th>
            <th>To</th>
            <th>Price</th>
        </tr>
        {{# each bookings }}
            <tr>
                <td> {{ this.bookingID }} </td>
                <td> {{ this.spaceID }} </td>
                <td> {{ this.date }} </td>
                <td> {{ this.timeFrom }} </td>
                <td> {{ this.timeTo }}</td>
                <td> ${{ this.price }}.00 </td>
                <td>
                    {{#if this.isPast }}
                        Cannot cancel
                    {{else}}
                        <form action="/cancelBooking" method="post"><input type="hidden" name="bookingID" value="{{this.bookingID}}">
                            <input type="submit" value="cancel" class="btn btn-danger">
                        </form>
                    {{/if}}
                </td>
                <td>
                    {{#if this.isPaid}}
                        <form action="/showReceipt" method="post"><input type="hidden" name="receiptID" value="{{this.receipt}}">
                            <input type="submit" value="Receipt" class="btn btn-primary">
                        </form>
                    {{else}}
                    <form action="/payPortal" method="post"><input type="hidden" name="bookingID" value="{{this.bookingID}}">
                        <input type="submit" value="Pay" class="btn btn-primary">
                    </form>
                    {{/if}}
                </td>
            </tr>
        {{/each }}
    </table>
</section>
</div>