
<div class="contentContainer">
<section>

    <div class="modal fade" id="editDetailsModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Edit Space</h3>
                </div>
                <div class="modal-body">
                    <p>
                    <div id="userDetails">
                        <h4>Details</h4>
                    <form method="post" action="/updateSpace">
                        <table>
                            <tr>
                                <th>Space ID:</th>
                                <td><input type="hidden" name="spaceID" value=""><span id="spaceID"></span></td>
                            </tr>
                            <tr>
                                <th>Location ID:</th>
                                <td><span id="locationID"></span></td>
                            </tr>
                            <tr>
                                <th>Space Type:</th>
                                <td>
                                    <select class="form-control" name="spaceType" id="spaceType">
                                        <option id="regular">Regular</option>
                                        <option id="disabled">Disabled</option>
                                    </select>
                                </td>
                            </tr>
                        </table>
                        <div class="modal-footer">

                            <input type="hidden" value="{{user.userID}}">
                            <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save Changes</button>

                        </div>
                    </form>
                    </div>
                    </p>
                </div>
            </div>
        </div>
    </div>



</section>

<section class="bookings">
    <h2>Spaces</h2>
    {{ status }}

    <table>
        <tr>
            <th>Space ID</th>
            <th>Location ID</th>
            <th>Space Type</th>

        </tr>
        {{# each spaces }}
            <tr>
                <td> {{ this.spaceID }} </td>
                <td> {{ this.locationID }} </td>
                <td> {{ this.spaceType }} </td>
                <td> <button class="btn btn-primary editSpace" id="{{ this.spaceID }}" data-toggle="modal"
                             data-target="#editDetailsModal">Edit</button> </td>
            </tr>
        {{/each }}
    </table>
    </div>
</section>
</div>
<script>
    $(document).ready(function () {
        $('.editSpace').click(function () {
            var spaceID = $(this).attr("id");
            $.ajax({
                url: "/getSpaceData",
                method: "post",
                data: {spaceID: spaceID},
                success: function (data) {
                    //$('#userDetails').html(data);
                    $('#spaceID').html(data.space.spaceID);
                    $("[name='spaceID']").val(data.space.spaceID);
                    $('#locationID').html(data.space.locationID);
                    $('#spaceType').val(data.space.spaceType);
                }
            });
        });
    });
</script>