<h1>Manage Users</h1>
<p>Welcome to User management</p>

<section>
    <h2>Add User</h2>
<form action="/addUser" method="post">
    <table>
        <tr>
            <td>UserID</td>
            <td><input type="text" id="userID" name="userID"></td></tr>
        <tr>
            <td>Name</td>
            <td><input type="text" id="name" name="name"></td>
        </tr>
        <tr>
            <td>Phone</td>
            <td><input type="text" id="phone" name="phone"></td>
        </tr>
        <tr>
            <td>Email</td>
            <td><input type="text" id="email" name="email"></td>
        </tr>
        <tr>
            <td>User Type</td>
            <td>
                <select is="usertype" name="usertype">
                    <option>User</option>
                    <option>Admin</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Password</td>
            <td><input type="text" id="password" name="password"></td>
        </tr>
        <tr>
            <td></td>
            <td><button type="submit" class="smallButton">INSERT</button></td>
        </tr>
    </table>
</form>
    {{ status }}
</section>

<section>
    <h2>Delete User</h2>
    <form action="/deleteUser" method="post">
        User ID: <input type="text" id="userID" name="userID">
        <button type="submit" class="smallButton">DELETE</button>
    </form>
</section>

<section class="users">
    <h2>Current Users</h2>

        <table style="width:100%">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Phone Number</th>
            <th>Email</th>
            <th>User Type</th>
        </tr>
            {{# each users}}
            <tr>
                <td> {{ this.userID }} </td>
                <td> {{ this.name }} </td>
                <td> {{ this.phone }} </td>
                <td> {{ this.email }} </td>
                <td> {{ this.userType }} </td>
            </tr>
            {{/each }}
        </table>
    </div>
</section>
