<div class="contentContainer">

<p>
<h3>Receipt</h3>
<table>
    <tr>
        <td>Receipt ID:</td>
        <td>{{receipt._id}}</td>
    </tr>
    <tr>
        <td>Payment date:</td>
        <td>{{receipt.date}}</td>
    </tr>
</table>
</p>
<p>
<h3>Booking</h3>
<table>
    <tr>
        <td>Booking ID:</td>
        <td>{{booking._id}}</td>
    </tr>
    <tr>
        <td>Space:</td>
        <td>{{booking.spaceID}}</td>
    </tr>
    <tr>
        <td>Date: </td>
        <td>{{booking.date}}</td>
    </tr>
    <tr>
        <td>Time:</td>
        <td>{{booking.timeFrom}}:00 to {{booking.timeTo}}:00</td>
    </tr>
</table>
</p>

</div>